@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "font-awesome/scss/font-awesome.scss";
@import "bootstrap-social.scss";

.social ul li {
    display: inline-block;
    padding: 5px 20px 20px 20px;
    margin: 5px 30px 30px 30px;
}

.social ul {
    list-style-type: none;
}
body {
    background-image: url('/img/bkg.png');
    background-repeat: repeat-x;
}
.profile-list {
    line-height: 60px;
}
.profile-image {
    width: 30px;
    height: 30px;
    margin: auto;
}
.nav-search {
    margin-top: 15px;
}
.profile-pic {
    width: 240px;
    height: 240px;
    margin: auto;
    border: solid #F4F4F4 1px;
}
#pic-div {
    background-color: white;
}
.large-text {
    font-size: 120%;
}
.video-thumbnail {
    width: 350px;
    padding: 20px 20px 20px 0px;
}
.section-title {
    padding: 20px;
    border-bottom: solid #E7E7E7 1px;
}
.video-container {
    margin-top: 10px;
    border-bottom: solid #E7E7E7 1px;
}
.video-title {
    padding: 5px;
    border-bottom: solid #E7E7E7 1px;
    color: $brand-success;
}
.file-upload {
    margin-right: 15px;
}
.video-content {
    display: inline-block;
    padding: 10px;
    border: solid $gray-lighter 1px;
}